<div align="center">

# RIO Airbnb Project - Reviews Clean
**Latest Update:** *15th March 2023*

</div>

---

In [1]:
import sys, os, re
sys.path.append(os.path.abspath("../"))

import pandas as pd

In [2]:
reviews_df = pd.read_csv("../dataset/reviews/reviews.csv", index_col=False)

In [5]:
listings_df = pd.read_csv("../dataset/listings/listings_cleaned_20230315.csv", index_col=False)

In [8]:
listings_df['id'].head()

0    183319.0
1     51307.0
2    184314.0
3     51498.0
4       109.0
Name: id, dtype: float64

In [14]:
reviews_filtered = reviews_df[reviews_df['listing_id'].isin(listings_df['id'].unique())]

len(reviews_filtered)

1549985

In [15]:
reviews_filtered.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
2,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
3,183319,988343,2012-03-11,1219947,Gabriella,"very nice and cozy apartment, well located in ..."
4,183319,184002210,2017-08-18,70046039,Yan,We loved the experience. The location couldn't...